<div class="container2">

    <div class="area3-left">
        <div class="flex">

            <div class="skill" id="skill">
                <h1>Foco e skills</h1>
                <h2>Me considero muito aplicado na resolução de problemas. Acho que compartilhar soluções gera inspiração, quero ter a oportunidade e, no momento favorável, ensinar esses passos para iniciantes, conforme eu fui orientado e startado no mundo
                    Dev.
                </h2>
                <div class="skill-comp">
                    <p class="color-skill">Html5</p>
                    <p class="color-skill">Css/scss</p>
                    <p class="color-skill">JavaScript</p>
                    <p class="color-skill">TypeScript</p>
                    <p class="color-skill">Angular17</p>
                    <p class="color-skill">Bootstrap</p>
                    <p class="color-skill">Node</p>
                    <p class="color-skill">MySql</p>
                    <p class="color-skill">Git</p>
                    <p class="color-skill">GitHub</p>
                    <p class="color-skill">Web design</p>
                    <p class="color-skill">Figma</p>
                    <p class="color-skill">Photoshop</p>
                    <p class="color-skill">Excel</p>
                    <p class="color-skill">Designer</p>
                </div>
            </div>
        </div>
        <!-- fim areas left-->
        <div class="area3-right">
            <div class="logos-skill">


                <div class="logobg logo-1">
                    <img src="https://ramonsenger.com/assets/icon/css.png" alt="" srcset="">
                </div>
                <div class="logobg logo-2">
                    <img src="https://ramonsenger.com/assets/icon/figma.png" alt="" srcset="">
                </div>
                <div class="logobg logo-3">
                    <img src="https://ramonsenger.com/assets/icon/github.png" alt="" srcset="">
                </div>
                <div class="logobg logo-4">
                    <img src="https://ramonsenger.com/assets/icon/html5.png" alt="" srcset="">
                </div>
                <div class="logobg logo-5">
                    <img src="https://ramonsenger.com/assets/icon/js.png" alt="" srcset="">
                </div>
                <div class="logobg logo-6">
                    <img src="https://ramonsenger.com/assets/icon/node.png" alt="" srcset="">
                </div>
                <div class="logobg logo-7">
                    <img src="https://ramonsenger.com/assets/icon/ph.png" alt="" srcset="">
                </div>
                <div class="logobg logo-8">
                    <img src="https://ramonsenger.com/assets/icon/visual.png" alt="" srcset="">
                </div>
                <div class="logobg logo-9">
                    <img src="https://ramonsenger.com/assets/icon/visual.png" alt="" srcset="">
                </div>


            </div>
        </div>

    </div>
