nav {
    background: #111;
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: baseline;
    padding-top: 20px;
    padding-left: 100px;
    border-bottom: #444 1px solid;
}

.container-main {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
    list-style: none;
}

a:hover {
    color: blueviolet;
    transform: scale(1.04);
}

.right {
    width: 80%;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
}

.right a {
    font-size: 16px;
    font-weight: 400;
}

@media only screen and (max-width: 700px) {
    nav {
        background: #111;
        width: 100%;
        height: 6vh;
        display: flex;
        align-items: center;
        /* Centraliza verticalmente os itens dentro do nav */
        justify-content: center;
        /* Centraliza horizontalmente o conteúdo */
        padding: 20px 0;
        /* Ajusta o espaçamento superior e inferior */
        border-bottom: 1px solid #444;
        position: fixed;
        top: 0;
        /* Garante que o nav fique fixo no topo */
        z-index: 1000;
        /* Mantém o nav acima de outros elementos */
    }
    nav a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-size: 14px;
        list-style: none;
        margin: 0 15px;
        /* Adiciona espaçamento entre os links */
    }
    nav a:hover {
        color: blueviolet;
        transform: scale(1.04);
    }
    .ctt {
        display: flex;
        align-items: center;
        justify-content: center;
        /* Centraliza horizontalmente o conteúdo dentro de .ctt */
        width: 100%;
        text-align: center;
    }
    .right {
        opacity: 0;
        width: 80%;
        gap: 20px;
        display: none;
        justify-content: flex-end;
    }
    .right a {
        font-size: 16px;
        font-weight: 400;
    }
}
