<div class="projetos" id="projetos">
    <h1>PROJETOS</h1>
    <h2>Desenvolvimentos e participações</h2>
    <div class="boxflex">
        <div id="projeto" class="project">
            <!-- HOVER -->
            <img src="https://ramonsenger.com/assets/icon/climamax.png" alt="" srcset="">
            <div class="hover">

                <a href="https://ramonsenger.com/projeto/climamax/hub">VER MAIS</a>
            </div>
        </div>
        <div class="project">
            <img src="https://ramonsenger.com/assets/icon/rcsbet.png" alt="" srcset="">
            <!-- HOVER -->
            <div class="hover">
                <a href="https://ramonsenger.com/projeto/casino/hub/index.html">VER MAIS</a>
            </div>
        </div>
        <div class="project">
            <img src="https://ramonsenger.com/assets/icon/SENGERTUR.png" alt="" srcset="">

            <!-- HOVER -->
            <div class="hover">
                <a href="https://ramonsenger.com/sengertur.html">VER MAIS</a>
            </div>
        </div>
        <div class="project">
            <img src="https://ramonsenger.com/assets/icon/euteamo.png" alt="" srcset="">

            <!-- HOVER -->
            <div class="hover">
                <a href="https://ramonsenger.com/projeto/love">VER MAIS</a>
            </div>
        </div>
        <div class="project">
            <img src="https://ramonsenger.com/assets/icon/ambev.png" alt="" srcset="">
            <!-- HOVER -->
            <div class="hover">
                <a href="https://ramonsenger.com/projeto/ambev/hub/index.html">VER MAIS</a>
            </div>
        </div>
        <div class="project">
            <img src="https://ramonsenger.com/assets/icon/rcsonly.png" alt="" srcset="">
            <!-- HOVER -->
            <div class="hover">
                <a href="https://ramonsenger.com/projeto/rcsween/hub">VER MAIS</a>
            </div>
        </div>
    </div>
</div>
